<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>display</title>
  </head>
  <body>
    <h3><%="Puppy Name:"%></h3>
    <%=@puppy.name%>
    <h3><%="Puppy Breed:"%></h3>
    <%=@puppy.breed%>
    <h3><%="Puppy Age:"%></h3>
    <%=@puppy.age%>
  </body>
</html>
